body {    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}    

.menu {
    background-color: #234BAD;    
    display:inline-block;
    width: 100%;
}

.top {
    
}
.top img {
    max-width: 250px;
    width: 20%;
    float: left;
    position: relative;
    top: -6px;
    
}

.navbar {
    width: 80%;
    float: right; 
       
}

.top li {
    list-style-type: none;
    display: inline-block;
    margin-left: 100px;   
    text-align: center;
    margin-top: 1em;
    text-decoration: none;
    
}
.top a {
    text-decoration: none;
    color: white;
}