body {    
    font-style: normal;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    height: 0;    
}    

.menu {
    background-color: #234BAD;    
    display:inline-block;
    width: 100%;
}

.top img {
    max-width: 250px;
    width: 20%;
    float: left;
    position: relative;
    top: -6px;    
}

.navbar {
    width: 80%;
    float: right;        
}

.top li {
    list-style-type: none;
    display: inline-block;
    margin-inline: 105px;  
    text-align: center;
    margin-top: 2em;
    text-decoration: none;    
}

.top a {
    text-decoration: none;
    color: white   
}

.row {
    background-color: #F4B225;
}